# 找好兩個資料來源 找出其中交集 併成新資料
## 我想試圖找出車禍件數與降雨量是否有正相關

In [118]:
import pandas as pd
df=pd.read_csv('107caraccident.csv')#檔名必須是英文,並用記事本改成utf-8 encode
df.head()
#先看一下原始資料長得怎樣
#這是北市107年所有的交通事故

,發生年,發生月,發生日,發生時,發生分,處理別,區序,肇事地點,死亡人數,受傷人數,當事人序,車種,性別,年齡,受傷程度,4天候,7速限,8道路型態,9事故位置
0,107,3,29,15,54,2,01大同區,大同區民權西路108號,0,1,1,B03,2,41.0,3.0,8,50,14.0,9.0
1,107,3,29,15,54,2,01大同區,大同區民權西路108號,0,1,2,C03,2,58.0,2.0,8,50,14.0,9.0
2,107,1,7,17,42,2,01大同區,大同區重慶北路2段與南京西路口,0,1,1,B01,1,59.0,3.0,6,40,4.0,2.0
3,107,1,7,17,42,2,01大同區,大同區重慶北路3段與南京西路口,0,1,2,C03,1,18.0,2.0,6,40,4.0,2.0
4,107,1,14,9,56,2,01大同區,大同區承德路3段與民族西路口,0,1,1,C03,1,20.0,2.0,8,50,4.0,1.0

In [119]:
#由於資料量較大(50329筆)
#我們只要先只要一月的就好
df2=df[df['發生月']==1]
df2.head()

,發生年,發生月,發生日,發生時,發生分,處理別,區序,肇事地點,死亡人數,受傷人數,當事人序,車種,性別,年齡,受傷程度,4天候,7速限,8道路型態,9事故位置
2,107,1,7,17,42,2,01大同區,大同區重慶北路2段與南京西路口,0,1,1,B01,1,59.0,3.0,6,40,4.0,2.0
3,107,1,7,17,42,2,01大同區,大同區重慶北路3段與南京西路口,0,1,2,C03,1,18.0,2.0,6,40,4.0,2.0
4,107,1,14,9,56,2,01大同區,大同區承德路3段與民族西路口,0,1,1,C03,1,20.0,2.0,8,50,4.0,1.0
5,107,1,14,9,56,2,01大同區,大同區承德路3段與民族西路口,0,1,2,B03,2,49.0,3.0,8,50,4.0,1.0
6,107,1,27,10,28,2,01大同區,大同區承德路1段105號與承德路1段口,0,2,1,C03,1,17.0,2.0,8,50,3.0,2.0

In [110]:
df3=df2.sort_values(by='發生日').iloc[:,0:3]
df_accident_jan=df3.groupby('發生日').count().iloc[:,0:1]
df_accident_jan.columns={'當日車禍件數'}
df_accident_jan=df_accident_jan.reset_index(drop=True)
df_accident_jan
#我們想要計算一月每天的交通事故數量

    當日車禍件數
0      158
1      173
2      155
3      172
4      146
5       97
6       87
7      202
8      120
9      180
10     167
11     183
12     115
13      93
14     128
15     192
16     162
17     161
18     141
19     124
20      97
21     144
22     161
23     152
24     122
25     207
26     139
27      83
28     149
29     174
30     163

In [86]:
df_rain_year=pd.read_excel('rain.xlsx')
df_rain_year
#這是107年一整年每日降雨量

,月份,一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,日期,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,-,2.8,T,-,-,1.2,-,-,50,-,5.4,-
3,2,-,5.9,-,-,-,-,-,-,-,-,15.6,-
4,3,-,26.5,-,-,1.4,-,-,5,-,T,1.3,-
5,4,0.3,28,0.1,-,-,-,T,-,-,1.6,-,-
6,5,1,17,1.3,-,-,4.5,T,-,2.5,0.5,3.6,-
7,6,26,T,-,0.5,-,30,-,6,1.5,2,-,-
8,7,68.9,14.5,1.5,4,-,-,7.8,1.5,36.5,0.2,-,0.5
9,8,76.1,9.5,25.3,-,32.1,-,-,-,144.5,3.9,-,T
10,9,22.5,3.9,-,-,T,-,-,-,18,6.8,T,1
11,10,-,5.9,-,-,-,13,34.8,-,10,14.4,1.5,1.8
12,11,-,4.5,-,-,-,8.5,71.6,3.5,0.5,8.5,-,2
13,12,-,-,-,17.1,-,-,-,19,-,27.5,-,T
14,13,-,-,-,-,-,-,-,1,-,1.4,-,1.3
15,14,-,-,0.4,4.1,-,2.3,-,15,0.1,0.1,-,1.5
16,15,-,-,1.4,3.6,-,4.3,-,T,17.5,-,-,T
17,16,-,-,0.5,5.7,-,-,T,T,2,2.2,-,-
18,17,-,-,-,14,-,-,-,35,-,31.3,4,0.9
19,18,T,-,-,-,-,5.9,-,4,-,1.8,0.6,-
20,19,12.5,-,-,-,-,-,-,7,-,5.3,12.8,-
21,20,2,-,6.3,-,-,-,-,3,-,-,-,-
22,21,-,0.2,0.4,-,-,2,40.7,-,-,-,-,-
23,22,1,19.1,-,-,-,1,7.5,-,-,-,10.2,-
24,23,-,-,-,-,-,0.1,T,-,0.5,8.1,5.2,20
25,24,-,T,-,10.5,-,-,12.1,5.5,10.6,-,-,14.8
26,25,-,6.4,-,-,-,-,3.3,19.5,0.9,-,0.2,1.1
27,26,-,0.1,-,-,-,-,-,1.5,8.8,1.5,2.5,0.6
28,27,-,-,0.1,T,-,-,12.5,7,7.5,-,-,6
29,28,11.5,19.3,-,-,-,T,-,10.5,3,-,1.5,0.4
30,29,8.8,NaN,-,-,7,15,-,15,7.5,-,-,0.5
31,30,7.7,NaN,T,0.1,1.5,32,-,26,-,1.1,-,0.5
32,31,17.5,NaN,-,NaN,-,NaN,-,1.8,NaN,6.9,NaN,1.5

In [106]:
#我們只需要一月的
df_rain_jan=df_rain_year.iloc[2:,1:2]
#做一點簡單的資料清洗
df_rain_jan.replace({'-':'0','T': '0','NaN':'0'},inplace=True)
df_rain_jan.columns={'一月降雨量'}
df_rain_jan=df_rain_jan.reset_index(drop=True)
df_rain_jan

   一月降雨量
0      0
1      0
2      0
3    0.3
4      1
5     26
6   68.9
7   76.1
8   22.5
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18  12.5
19     2
20     0
21     1
22     0
23     0
24     0
25     0
26     0
27  11.5
28   8.8
29   7.7
30  17.5

In [117]:
#今日做重要的事:合併這兩個資料
df_concat=pd.concat([df_rain_jan,df_accident_jan],axis=1)
df_concat

   一月降雨量  當日車禍件數
0      0     158
1      0     173
2      0     155
3    0.3     172
4      1     146
5     26      97
6   68.9      87
7   76.1     202
8   22.5     120
9      0     180
10     0     167
11     0     183
12     0     115
13     0      93
14     0     128
15     0     192
16     0     162
17     0     161
18  12.5     141
19     2     124
20     0      97
21     1     144
22     0     161
23     0     152
24     0     122
25     0     207
26     0     139
27  11.5      83
28   8.8     149
29   7.7     174
30  17.5     163